{{ define "content" }}


<h2 class="mb-4">
    <a href="/campaigns/new" class="btn btn-success"><i class="fa fa-plus"></i> Create Campaign</a>
</h2>

<div class="card mb-4">
    <div class="card-body">
       List Semua User
    </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Short Desc</th>
            <th scope="col">Goal Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {{range $index , $value := .campaigns}}
          <tr>
            <th scope="row">{{ $index }}</th>
            <td>
            {{if .CampaignImages}}
               <img class="img-fluid img-thumbnail" src="/{{ (index .CampaignImages 0).FileName }}" width="60">
            {{end}}
            </td>
            <td>{{ .Name }}</td>
            <td>{{ .ShortDescription }}</td>
            <td>{{ .GoalAmoutFormatIDR }}</td>
            <td><a href="/users/edit/{{ .ID }}"><i class="fa fa-edit"></i></a>
            &nbsp;&nbsp;<a href="/users/avatar/{{ .ID }}"><i class="fa fa-camera"></i></a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
</div>
{{ end }}